// COLOR VARIABLES
$white: #fff;
$black: #000;
$paler-grey: #f6f6f6;
$pale-grey: #eee;
$light-grey: #ccc;
$mid-light-grey: #808080;
$mid-grey: #575c61;
$dark-grey: transparent;
$darker-grey: #2b2e32;
$blue: #4c8be0;
$green-grey: #f4f8f9;

body {
    padding-top: 0px;
    color: $mid-grey;
    background: $white;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;

}

body > section {
    padding: 0 0;
}
h1, h2, h3 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight:700;
    color:$darker-grey;
}

// Top Menu - edited on work mac
#header {
    & .social-icons {
        padding:0.9rem 0;
        & i {
            padding-right: 1.1rem !important;
        }
    }
    & .menu-right {
        text-align:right;
        font-size:0.88rem;
        .menu-text::before {
            font-family: FontAwesome;
            content: "\f07a";
            margin-right: 10px;
        }
        .menu-text::after {
            font-family: FontAwesome;
            content: "\f107";
            margin-left: 10px;
        }
        & a {
            color:$mid-light-grey;
            padding-right:1rem;
            padding:0.9rem 1.5rem 0.9rem 1.5rem;
            border-right:1px solid $pale-grey;
            display:inline-block;
            &:hover {
                text-decoration:none;
                cursor:pointer;
            }
        }
        & a:last-child {
            background: $white;
            padding-left:3.5rem;
            border-right:0;
          }
    }
    & .top-menu-container {
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
        border-top: 3px solid $blue;
        border-bottom: 1px solid $pale-grey;
        padding-left: 3%;
        padding-right: 1%;
        & i {
            color:$mid-grey;
            padding-right: 0rem;
            font-size: 0.98rem;
        }
    }
    .navbar-light .navbar-toggler {
        color: #000;
        border-color: #000;
    }
}

#nav {
    & .shop-now a span {
        background:$blue !important;
        color:$white;
        border-radius: 1.5rem;
        font-weight: 600;
        padding: 0.8rem 1.5rem;
        text-transform: uppercase;
        font-size: 0.75rem;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover {
            background:lighten($blue, 8%) !important;
        }
    }
    & .navbar-nav .nav-link {
        font-family: 'Montserrat', sans-serif;
        padding-right: 2.5rem !important;
        padding-left: 0rem !important;
        font-size: 0.87rem;
        letter-spacing: 0.02rem;
        font-weight: 300;
        color:$mid-light-grey;
    }
    & .main-menu-container {
        padding: 1.4rem 17% 1.5rem 17%;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.27);
        background:$white;
        z-index:9;
        & .navbar {
            float:right;
        }
    }
    & .main-nav-toggle {
        position:fixed;
        left:0;
        right:0;
        width:100%;
        top:0;
    }
    & .custom-logo {
        width:160px;
    }
}

// Top Menu - edited on work mac

// Carousel
#carousel {
    & .carousel-item {
        background-size:100%;
        background-repeat:no-repeat;
        height: 630px !important;
        padding-top:10%;
        & .carousel-text {
            margin-top:1rem;
            opacity:0;
        }
        & h1 {
            font-weight:700;
            color:$white;
            font-size:5.3rem;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
        }
        & h4 {
            font-weight:400;
            color:$white;
            font-size:1.9rem;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            text-transform:uppercase;
            margin-bottom:36px;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
        }
        & .btn-carousel {
            color:$white;
            padding:0.8rem 1.9rem;
            border-radius:1.5rem;
            background:rgba(255, 255, 255, 0.08);
            border:3px solid $white;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 0.8rem;
            &:hover {
                background:rgba(255, 255, 255, 0.0);
            }
        }
    }
    & .active .carousel-text {
        // color:red !important;
        transition: all 0.5s ease-in;
        margin-top:0rem;
        opacity:1;
        animation-name: heading_transition;
        animation-duration: 1s;
    }
    // @keyframes heading_transition {
    //     from {margin-top: 1rem; opacity:0;}
    //     to {margin-top: 0rem; opacity:1;}
    //   }
    & .slide-1 {
        background-image:url("/wp-content/themes/wp-my-store/images/slide-1.jpg");
    }
    & .slide-2 {
        background-image:url('/wp-content/themes/wp-my-store/images/slide-2.jpg');
    }
    & .slide-3 {
        background-image:url('/wp-content/themes/wp-my-store/images/slide-3.jpg');
    }
    & .carousel-control-next, .carousel-control-prev {
        width:55px;
    }
    & .carousel-control-prev-icon, .carousel-control-next-icon {
        background-image:none;
        width: 55px;
        height: 55px;
        background:$black;
        opacity:0.66;
        display:none;
        &:hover {
            opacity:0.7;
        }
    }

    & .carousel-control-prev-icon::before {
        font-family: FontAwesome;
        content: "\f104";
        margin-left: -5px;
        font-size: 2.3rem;
        line-height: 3.3rem;

    }
    & .carousel-control-next-icon::before {
        font-family: FontAwesome;
        content: "\f105";
        margin-right: -5px;
        font-size: 2.3rem;
        line-height: 3.3rem;
    }
    & .slider-nav-active {
        display:block;
    }
}
.carousel-margin {
    margin-top:4rem;
}
// End Carousel

// Owl Carousel
.owl-prev, .owl-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 1.25rem !important;
    background:$mid-grey !important;
    opacity:0.35;
    color:$white !important;
    transition: opacity 0.2s ease-in;
    & i {
        padding: 0.5rem 0.6rem;
        line-height:0.5rem;
    }
}
.owl-prev {
    left: -2rem;
    &:hover {
        opacity:0.6;
    }
}
.owl-next {
    right: -2rem;
    &:hover {
        opacity:0.6;
    }
}
// Owl Carousel

// Featured Products
body > #featured-products {
    padding: 3rem 0;
}
#featured-products {
    & h2 {
        font-weight:700;
        font-size: 2.3rem;
        color:$darker-grey;
        width: auto;
        text-align: center;
        display:inline-block;
        margin-bottom: 1.3rem;
    }
    & h4 {
        font-size: 1.15rem;
        color:$darker-grey;
    }
    & h5 {
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 0.01rem;
        color:$darker-grey;
        margin-bottom: 0.3rem;
    }
    & .underline-left {
        width: 200px;
        height: 1px;
        background: $light-grey;
        float: left;
        margin-top: 1.2rem;
    }
    & .underline-right {
        width: 200px;
        height: 1px;
        background: $light-grey;
        float: right;
        margin-top: 1.2rem;
    }
    & .section-heading {
        width:880px;
        margin-left:auto;
        margin-right:auto;
    }
    & img {
        width:100%;
    }
    & .price {
        font-weight:500;
        color:$blue;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 1.05rem;
    }
    & p {
        font-size: 0.8rem;
        letter-spacing: 0.02rem;
        margin-bottom: 0.5rem;
    }
}

// End Featured Products


// Seasonal Collection
#seasonal-collection {
    & .seasonal-box {
        background:#ccc;
        &:first-child {
            background-image:url('/images/winter-collection.jpg');
            background-size:100%;
            background-position:center center;
            transition: all 0.5s ease-in;
            &:hover {
                background-size:102%;
                filter: grayscale(100%);
            }
        }
        &:nth-child(2) {
            background-image:url('/images/spring-collection.jpg');
            background-size:100%;
            background-position:center center;
            transition: all 0.5s ease-in;
            &:hover {
                background-size:102%;
                filter: grayscale(100%);
            }
        }
        &:nth-child(3) {
            background-image:url('/images/autumn-collection.jpg');
            background-size:100%;
            background-position:center center;
            transition: all 0.5s ease-in;
            &:hover {
                background-size:102%;
                filter: grayscale(100%);
            }
        }
        & h2 {
            color:$white;
            margin-top: 25.8rem;
            font-size: 2.35rem;
        }
        & h4 {
            color:$white;
            font-size: 1.05rem;
            letter-spacing: 0.25rem;
            margin-top:1.1rem;
        }
        & .btn-carousel {
            color:$white;
            padding:0.6rem 1.9rem;
            border-radius:1.5rem;
            background:rgba(255, 255, 255, 0.08);
            border:2px solid $white;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 0.8rem;
            margin-bottom:6rem;
            margin-top: 1rem;
            &:hover {
                background:rgba(255, 255, 255, 0.0);
            }
        }
    }
}
// Seasonal Collection

// Seasonal Collection v2
#seasonal-collection-2 {
    & .seasonal-box-2 {
        overflow:hidden;
        padding:0;
        & .seasonal-box-text {
            position:absolute;
            left: 0;
            right: 0;
            z-index: 1;
        }
        & img {
            height: auto;
            max-width: 100%;
            transition: all 0.5s ease-in;
            transform: scale(1.005);
            &:hover {
                filter: grayscale(100%);
                transform: scale(1.019);
            }
        }
        & .seasonal-img-active {
            filter: grayscale(100%);
            transform: scale(1.019);
        }
        & h2 {
            color:$white;
            margin-top: 55%;
            font-size: 2.35rem;
        }
        & h4 {
            color:$white;
            font-size: 1.05rem;
            letter-spacing: 0.25rem;
            margin-top:1.1rem;
        }
        & .btn-carousel {
            color:$white;
            padding:0.6rem 1.9rem;
            border-radius:1.5rem;
            background:rgba(255, 255, 255, 0.08);
            border:2px solid $white;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 0.8rem;
            margin-bottom:6rem;
            margin-top: 1rem;
            &:hover {
                background:rgba(255, 255, 255, 0.0);
            }
        }
    }
}
// Seasonal Collection v2

// Best Sellers
body > #best-seller {
    padding: 3rem 0;
}
#best-seller {
    & h2 {
        font-weight:700;
        font-size: 2.3rem;
        color:$darker-grey;
        width: auto;
        text-align: center;
        display:inline-block;
        margin-bottom: 1.3rem;
    }
    & h4 {
        font-size: 1.15rem;
        color:$darker-grey;
        margin-bottom: 2.2rem;
    }
    & h5 {
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 0.01rem;
        color:$darker-grey;
        margin-bottom: 0.3rem;
    }
    & .underline-left {
        width: 200px;
        height: 1px;
        background: $light-grey;
        float: left;
        margin-top: 1.2rem;
    }
    & .underline-right {
        width: 200px;
        height: 1px;
        background: $light-grey;
        float: right;
        margin-top: 1.2rem;
    }
    & .section-heading {
        width:880px;
        margin-left:auto;
        margin-right:auto;
    }
    & img {
        width:100%;
    }
    & .price {
        font-weight:500;
        color:$blue;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-size: 1.05rem;
    }
    & p {
        font-size: 0.8rem;
        letter-spacing: 0.02rem;
        margin-bottom: 0.5rem;
    }
}

// Best Sellers

// Two Panels
    body > #two-panels {
        padding: 3rem 0;
    }
    #two-panels {
        background: $green-grey;
        & .promo-wrapper {
            overflow:hidden;
        }
        & h2 {
            color:$white;
            font-size:2.4rem;
        }
        & p {
            color:$white;
        }
        & img {
            max-width: 100%;
            height:auto;
            transition: all 0.5s ease-in;
            transform: scale(1.005);
            &:hover {
                filter: grayscale(100%);
                transform: scale(1.019);
            }
        }
        & .two-panels-img-active {
            filter: grayscale(100%);
            transform: scale(1.019);
        }
        & .promo-box-text {
            position:absolute;
            left: 0;
            right: 0;
            z-index: 1;
            padding: 4.5rem 10.3rem 0rem 4rem;
        }
        & .btn-carousel {
            color:$white;
            padding:0.6rem 1.9rem;
            border-radius:1.5rem;
            background:rgba(255, 255, 255, 0.08);
            border:2px solid $white;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 0.8rem;
            margin-bottom:6rem;
            margin-top: 1rem;
            &:hover {
                background:rgba(255, 255, 255, 0.0);
            }
        }
    }
// End Two Panels

// Testimonials
body > #testimonials {
    padding: 8.5rem 0;
    background-image:url('/wp-content/themes/wp-my-store/images/testimonials-bg.jpg');
    background-position: center;
    background-size: 100%;
}
#testimonials {
    & em {
        color:$white;
        font-size: 1.09rem;
        letter-spacing: 0.13rem;
        margin-bottom: 1.5rem;
        display: block;
        margin-top: 1.4rem;
    }
    & h5 {
        color:$white;
        margin-bottom:2.1rem;
    }
    & .carousel-indicators {
        position:relative;
    }
}
.carousel-indicators li {
    width: 13px;
    height: 13px;
    margin-right: 3px;
    margin-left: 3px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-radius: 6.5px !important;
}
// End Testimonials

// Blog
body > #blog {
    padding: 4.5rem 0;
}
#blog {
    & h2 {
        font-weight:700;
        font-size: 2.3rem;
        color:$darker-grey;
        width: auto;
        text-align: center;
        display:inline-block;
        margin-bottom: 1.3rem;
    }
    & h4 {
        font-size: 1.15rem;
        margin-bottom: 3.0rem;
    }
    & h5 {
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight:700;
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    & .underline-left {
        width: 200px;
        height: 1px;
        background: $light-grey;
        float: left;
        margin-top: 1.2rem;
    }
    & .underline-right {
        width: 200px;
        height: 1px;
        background: $light-grey;
        float: right;
        margin-top: 1.2rem;
    }
    & .section-heading {
        width:880px;
        margin-left:auto;
        margin-right:auto;
    }
    & img {
        max-width:100%;
    }
}
// End Blog

// Brand Logos
body > #brand-logos {
    padding: 4.0rem 0 1.1rem 0;
}
#brand-logos {
    background: $paler-grey;
    & h4 {
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight:400;
        letter-spacing:0.05rem;
        font-size:1.1rem
    }
}
// End Brand Logos

// Footer
#footer {
    color: #666;
    font-size: 0.8rem;
    background: #212326;
    padding-top: 50px;
    padding-bottom: 0px;
    letter-spacing: 0.02rem;
    width:100%;
    clear:both;
}
    #footer .footer-social-icons {
      margin-top: 85px; }
    #footer .scrolltop {
      background: #36393d;
      font-size: 1.9rem;
      padding: 0.0rem 0.8rem 0.5rem 0.8rem;
      line-height: 1.3rem;
      -webkit-border-top-left-radius: 0.25rem;
      -webkit-border-top-right-radius: 0.25rem;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0.25rem;
      -moz-border-radius-topright: 0.25rem;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    #footer a {
      color: #666;
      transition: all 0.2s ease-in; }
    #footer a:hover {
      color: gray;
      text-decoration: none; }
    #footer ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    #footer ul > li {
      display: inline-block;
      margin-left: 5px;
      color: #fff;
      background: #36393d;
      padding: 0.55rem 0.7rem 0.45rem 0.7rem;
      border-radius: 0.3rem; }
    #footer i {
      font-size: 1.2rem; }
    #footer img {
      width: 165px;
      opacity: 0.35;
      margin-bottom: 7px; }
    #footer .copyright-padding {
      padding-top: 14px; }
    #footer .footer-container {
      max-width: 1400px; }
    #footer .footer-copyright {
      margin-top: 20px;
      display: block; }
  
// End Footer



// Shop Page
#shop {
    padding:2rem 0 !important;
    & .term-description {
        display:none;
    }
    & #secondary {
        padding-right: 2.4rem;
        & h2 {
            font-size: 1.3rem;
        }
        & img {
            width:100%;
        }
        & .woocommerce-mini-cart__buttons {
            padding: 0.7rem;
            margin-bottom: 0;
            border-top: 1px solid lighten($light-grey, 10%);
        }
        & .wc-forward {
            color:$darker-grey;
            &:hover {
                text-decoration:none;
            }
        }
        & .checkout {
            float:right;
            &::before {
                font-family: FontAwesome;
                content: "\f07a";
                margin-right: 10px;
            }
        }
        & .woocommerce-mini-cart__empty-message {
            margin:0;
        }
        & .product-categories {
            margin: 0 0 0 -36px;
            li {
                list-style-type: none;
                padding: 0.7rem 0;
                border-bottom: 1px solid #eee;
                    &::before {
                        font-family: FontAwesome;
                        content: "\f105";
                        margin-right: 10px;
                    }
                    & a {
                        color:$darker-grey;
                        &:hover {
                            text-decoration:none;
                            color:$blue;
                        }
                    }
            }
        }
        & .widget_shopping_cart_content {
            border: 1px solid #eee;
            padding: 0.5rem 0.7rem;
        }
        & .woocommerce-mini-cart {
            margin-left:0;
            padding-left:0;
                & li {
                    list-style-type:none;
                }
                & .remove {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    color:$black;
                    &:hover {
                        text-decoration:none;
                        color:$blue;
                    }
                }
                & a:hover {
                    text-decoration:none;
                }
            }
    }
    & .container {
        max-width:1400px !important;
        padding:2rem 0;

        & .shop-column {
            & a {
                text-decoration:none !important;
            }
            & .woocommerce-ordering {
                display:inline-block;
                float:right;
                margin-right:1%;
            }
            & .woocommerce-result-count {
                display:inline-block;
                float:left;
            }
            & ul {
                & li {
                    border:1px solid lighten($light-grey, 10%);
                    padding:0.5rem;
                    & h2 {
                        font-size:0.86rem !important;
                        margin: 1.25rem 0 1.1rem 0;
                        &:hover {
                            color:$blue;
                            text-decoration:none !important;
                        }
                    }
                    & img {
                        width:100%;
                        transition: all 0.3s ease-in;
                        &:hover {
                            color:$blue;
                            text-decoration:none !important;
                            filter: grayscale(100%);
                            & h2 {
                                color:$blue;
                                text-decoration:none !important;
                            }
                        }
                    }
                    & .add_to_cart_button {
                        color:$darker-grey;
                        font-size: 0.85rem;
                        letter-spacing: 0.01rem;
                        padding: 0.9rem 0 0.7rem 0;
                        border-top: 1px solid lighten($light-grey, 10%);
                        &:hover {
                            text-decoration:none;
                        }
                        &::before {
                            font-family: FontAwesome;
                            content: "\f07a";
                            margin-right: 10px;
                        }
                    }
                    & .added_to_cart {
                        color:$darker-grey;
                        font-size: 0.85rem;
                        letter-spacing: 0.01rem;
                        padding: 0.9rem 0 0.7rem 0;
                        &:hover {
                            text-decoration:none;
                        }
                        &::before {
                            font-family: FontAwesome;
                            content: "\f002";
                            margin-right: 10px;
                        }
                    }
                    & .amount {
                        background:$white;
                    }
                    & .price {
                        padding: 0rem 0 0.7rem 0;
                        display:inline-block;
                        & del {
                            font-size: 0.86rem;
                            color:$darker-grey;
                        }
                    }
                    & .onsale {
                        background:$blue;
                        color:$white;
                        padding: 0.7rem 0.7rem;
                        border-radius: 5rem;
                        z-index: 5 !important;
                        position: absolute;
                    }
                }
            }
        }
    }
    & .woocommerce-LoopProduct-link {
        & .star-rating {
            float:right;
        }
    }

}

ul.products li.product {
    margin-right: 1% !important;
    width:24% !important;
}

// End Shop Page


// Shop Detail Page
#shop {
    & .related {
        & h2 {
            font-size: 1.3rem;
        }
    }
    & .price {
        & del {
            & .woocommerce-Price-amount {
                color:$mid-grey;
                font-size:1rem;
            }
        }
        & ins {
            & .woocommerce-Price-amount {
                color:$blue;
                font-size:1.3rem;
            }
        }
    }
    & .onsale {
        padding: 1rem;
        background: $blue;
        color: white;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 9;
        border-radius: 3rem;
        margin: 0.5rem;
    }
    & .woocommerce-Price-amount {
        background:$white;
    }
    & .woocommerce-product-gallery {
        float:left;
        width:35%;
    }
    & .summary {
        float: left;
        display: block;
        width: 62%;
        margin-left:3%;
        margin-top:0;
        padding-top:0;
    }
    & .woocommerce-tabs ul.tabs {
        float: left;
        display:block;
        width:100%;
    }
    & .woocommerce-tabs ul.tabs li a {
        padding: 0.6em 2rem;
        display: inline-block;
        color: white;
        background: $blue;
        border-radius: 3rem;
    }
    & .woocommerce-tabs ul.tabs li {
        display: inline-block;
        border: 0;
        padding: 0 0 1rem 0;
    }
    & .woocommerce-tabs {
        float: left;
        width: 62%;
        margin-left: 3%;
        //border:1px solid lighten($light-grey, 10%);
        padding-top: 2rem;
    }
    & #tab-description h2 {
        display:none;
    }
    & .single_add_to_cart_button {
        background: $blue !important;
        padding: 0.7rem;
        color: #fff;
        border-radius: 1.5rem;
        font-weight: 500;
        padding: 0.6rem 1.5rem;
        border:0;
        transition: all 0.3s ease-in;
        cursor: pointer;
        margin-bottom: 0.3rem;
        display: inline-block;
        &:hover {
            background:lighten($blue, 8%) !important;
            text-decoration:none;
        }
    }
    & .quantity {
        display:inline-block;
    }
    & .woocommerce-product-gallery__wrapper {
        border:1px solid lighten($light-grey, 10%);
    }
    & .product_meta {
        margin-top:1rem;
    }
    & .woocommerce-message {
        & .button {
            color:$black;
            padding:0 0.6rem; 
        }
    }
}

// End Shop Detail Page


// Cart Page
body > #cart {
    padding: 4.0rem 0 1.1rem 0;
}
.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    background-color: $blue;
    clear: both;
    padding:0.5rem;
    color:$white;
    & .restore-item {
        color:$black;
    }
}
#cart {
    & .woocommerce-cart-form {
        border:1px solid lighten($light-grey, 10%);
        padding: 1rem 1rem 0.2rem 1rem;
    }
    & .cart-collaterals {
        border:1px solid lighten($light-grey, 10%);
        margin-top:2rem;
        padding:1rem;
        & .checkout-button {
            background: $blue !important;
            padding: 0.7rem;
            color: #fff;
            border-radius: 1.5rem;
            font-weight: 500;
            padding: 0.6rem 1.5rem;
            border:0;
            transition: all 0.3s ease-in;
            cursor: pointer;
            margin-bottom: 0.3rem;
            display: inline-block;
            &:hover {
                background:lighten($blue, 8%) !important;
                text-decoration:none;
            }
        }
    }
    & table {
        & img {
            width: 90px;
            margin: 0.5rem 0;
        }
        & .product-name a {
            color:$darker-grey;
            &:hover {
                color:$blue;
                text-decoration:none;
            }
        }
        & .product-subtotal .woocommerce-Price-amount {
            color:$blue;
            &:hover {
                color:$darker-grey;
                text-decoration:none;
            }
        }
        & .coupon {
            width: 50%;
            float: left;
            & .button {
                float:none;
                margin-left: 1rem;
            }
        }
        & .button {
            float:right;
            background: $blue !important;
            padding: 0.7rem;
            color: #fff;
            border-radius: 1.5rem;
            font-weight: 500;
            padding: 0.6rem 1.5rem;
            border:0;
            transition: all 0.3s ease-in;
            cursor: pointer;
            &:hover {
                background:lighten($blue, 8%) !important;
            }
        }
        & .actions {
            padding-top: 1rem;
        }
    }
    & .product-remove {
        & a {
            font-size: 1.7rem;
            color:$black;
            &:hover {
                text-decoration:none;
            }
        }
    }
    table.shop_table_responsive tr td {
        border-top: 1px solid lighten($light-grey, 10%) !important;
    }
    table.shop_table_responsive tr th {
        padding:0.5rem;
    }
    .entry-footer {
        .edit-link {
            & a {
                background: $blue !important;
                padding: 0.7rem;
                color: #fff;
                border-radius: 1.5rem;
                font-weight: 500;
                padding: 0.6rem 1.5rem;
                border:0;
                transition: all 0.3s ease-in;
                cursor: pointer;
                margin-top:2rem;
                display:inline-block;
                &:hover {
                    background:lighten($blue, 8%) !important;
                }
            }
        }
    }
}
// Cart Page

// Contact Us Page
body > #contact {
    padding: 4rem 0 4rem 0;
}
#contact {
    // & form {
    //     padding: 0 3rem;
    // }
    & input {
        text-align:left;
    }
    & label {
        margin-top:1rem;
    }
    & .btn-carousel {
        color:$white;
        padding:0.6rem 1.9rem;
        border-radius:1.5rem;
        background:rgba(0, 0, 0, 0.4);
        border:2px solid $white;
        font-family: Montserrat, Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom:6rem;
        margin-top: 1rem;
        &:hover {
            background:rgba(255, 255, 255, 0.0);
        }
    }
    
    & h2 {
        font-weight:700;
        font-size: 2.3rem;
        color:$darker-grey;
        width: auto;
        text-align: center;
        display:inline-block;
        margin-bottom: 1.3rem;
    }
    & h4 {
        font-size: 1.15rem;
        margin-bottom: 3.0rem;
    }
    & .underline-left {
        width: 200px;
        height: 1px;
        background: $light-grey;
        float: left;
        margin-top: 1.2rem;
    }
    & .underline-right {
        width: 200px;
        height: 1px;
        background: $light-grey;
        float: right;
        margin-top: 1.2rem;
    }
    & .section-heading {
        width:880px;
        margin-left:auto;
        margin-right:auto;
    }
}
// Contact Us Page

@media only screen and (min-width: 1200px){
    .container {
        max-width:1350px;
    }
}

@media only screen and (max-width: 1750px){
    #nav .main-menu-container {
        padding: 1.4rem 10% 1.5rem 10%;
    }
}

@media only screen and (max-width: 1650px){
    #carousel .carousel-item {
        height: 560px !important;
    } 
}
@media only screen and (max-width: 1550px){
    #nav .main-menu-container {
        padding: 1.4rem 7% 1.5rem 7%;
    }
}
@media only screen and (max-width: 1350px){
    #header .main-menu-container .navbar-expand-md .navbar-nav .nav-link .shop-now {
        padding: 0.8rem 0.75rem;
        font-size: 0.7rem;
    }
    #nav .main-menu-container {
        padding: 1.4rem 5% 1.5rem 5%;
    }
    #carousel .carousel-item {
        height: 510px !important;
    }
    #seasonal-collection-2 .seasonal-box-2 h2 {
        font-size: 2rem;
        margin-top: 45%;
    }
    #seasonal-collection-2 .seasonal-box-2 h4 {
        font-size: 0.9rem;
    }
    #nav .navbar-nav .nav-link {
        padding-right: 2.3rem !important;
        font-size: 0.87rem;
    }
    #nav .shop-now {
        font-size: 0.77rem;
        padding: 0.8rem 1.2rem;
    }
}

@media only screen and (max-width: 1250px){
    #nav .main-menu-container {
        padding: 1.4rem 3% 1.5rem 3%;
    }
    #nav .navbar-nav .nav-link {
        padding-right: 1.8rem !important;
    }
    #carousel .carousel-item {
        height: 455px !important;
    }
    .form-inline {
        display:none;
    } 
}

@media only screen and (max-width: 1250px){
    #two-panels .promo-box-text {
        padding: 2.8rem 4.3rem 0rem 4rem;
    }
}

@media only screen and (max-width: 1150px){
    #nav .main-menu-container {
        padding: 1.4rem 2% 1.5rem 2%;
    }
    #nav .navbar-nav .nav-link {
        padding-right: 1.5rem !important;
    }
    #carousel .carousel-item h1 {
        font-size: 4.3rem;
    }
    #carousel .carousel-item h4 {
        font-size: 1.7rem;
    }
    #carousel .carousel-item {
        height: 425px !important;
    }
    #seasonal-collection-2 .seasonal-box-2 h2 {
        font-size: 1.85rem;
        margin-top: 45%;
    }
}
@media only screen and (max-width: 1050px){
    #carousel .carousel-item {
        height: 360px !important;
    }
    #carousel .carousel-item h1 {
        font-size: 3.6rem;
    }
    #seasonal-collection-2 .seasonal-box-2 h2 {
        font-size: 1.7rem;
        margin-top: 45%;
    }
    body > #testimonials {
        padding: 8.5rem 0;
        background-size: cover;
    }
}

@media only screen and (max-width: 991px){
    #two-panels .promo-box-text {
        padding: 1.7rem 3rem 0rem 3rem;
    }
    #two-panels h2 {
        font-size: 2.0rem;
    }
    #two-panels .btn-carousel {
        margin-top: 0.3rem;
    }    
}

@media only screen and (max-width: 920px){
    #carousel .carousel-item {
        height: 320px !important;
    }
    #featured-products .underline-right {
        width: 16%;
    }
    #featured-products .underline-left {
        width: 16%;
    }
    #featured-products .section-heading {
        width: 90%;
    }
    #best-seller .underline-right {
        width: 16%;
    }
    #best-seller .underline-left {
        width: 16%;
    }
    #best-seller .section-heading {
        width: 90%;
    }
    #blog .underline-right {
        width: 16%;
    }
    #blog .underline-left {
        width: 16%;
    }
    #blog .section-heading {
        width: 90%;
    }
    #seasonal-collection-2 .seasonal-box-2 h2 {
        font-size: 1.55rem;
        margin-top: 39%;
    }
    #nav .shop-now {
        padding: 0.8rem 0.9rem;
        font-size: 0.73rem;
    }
    #nav .navbar-nav .nav-link {
        padding-right: 1.1rem !important;
        font-size:0.73rem;
    }
}
@media only screen and (max-width: 860px){
    #carousel .carousel-item {
        height: 270px !important;
    }
    #carousel .carousel-item h1 {
        font-size: 3.1rem;
    }
    #carousel .carousel-item h4 {
        font-size: 1.4rem;
        margin-bottom: 1.3rem;
    }
    #carousel .carousel-item .btn-carousel {
        padding: 0.6rem 1.6rem;
        font-size: 0.7rem;
    }
    #seasonal-collection-2 .seasonal-box-2 h2 {
        font-size: 1.45rem;
        margin-top: 39%;
    }
    #seasonal-collection-2 .seasonal-box-2 h4 {
        font-size: 0.75rem;
    }
}
@media only screen and (max-width: 767px){
    #carousel .carousel-item {
        height: 230px !important;
    }
    #featured-products h2 {
        font-size: 1.9rem;
    }
    #carousel .carousel-item {
        padding-top: 7%;
    }
    #seasonal-collection-2 .seasonal-box-2 h2 {
        font-size: 1.3rem;
        margin-top: 39%;
    }
    #seasonal-collection-2 .seasonal-box-2 h4 {
        font-size: 0.6rem;
    }
    #nav .navbar-light .navbar-toggler {
        margin-right:1.8rem;
    }
    #nav img {
        margin-left:1.8rem;
    }
    #nav .navbar-nav {
        margin-top:1rem;
    }
    #nav .main-menu-container {
        padding: 1.4rem 0% 1.5rem 0%;
    }
    #nav .navbar-nav .nav-item {
        border-top: 1px solid $pale-grey;
    }
    #nav .navbar-nav .nav-link {
        font-size: 0.75rem;
        font-weight: 500;
        color:$black;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 1.8rem !important;
        &:hover {
            background:$paler-grey;
        }
    }
    #nav .shop-now {
        padding: 0;
        font-size: 0.9rem;
        background: transparent !important;
        color:$mid-light-grey;
        font-weight: 300;
    }
    button:focus {
        outline: 0px solid $light-grey;
        border-radius: 0.2rem;
    }
    #two-panels .promo-box-text {
        padding: 1.0rem 1.5rem 0rem 3rem;
    }
    #two-panels h2 {
        font-size: 1.4rem;
    }
    #two-panels p {
        font-size: 0.8rem;
        margin-bottom:0.5rem;
    }
    #two-panels .btn-carousel {
        padding: 0.4rem 1.9rem;
        border-radius: 1.5rem;
        font-size: 0.7rem;
        margin-bottom: 0rem;
        margin-top: 0.6rem;
    }
}
@media only screen and (max-width: 700px){
    #carousel .carousel-item h1 {
        font-size: 2.9rem;
    }
    #carousel .carousel-item h4 {
        font-size: 1.3rem;
    }
    #header .top-menu-container {
        padding-left: 0%;
        padding-right: 0%;
    }
    #header .social-icons {
        text-align: center;
        width:100%;
        border-bottom: 1px solid $pale-grey;
    }
    #header .menu-right {
        text-align: center;
        width:100%;
    }
    #header .menu-right a:last-child {
        padding: 0.9rem 1.5rem 0.9rem 1.5rem;
    }
    #header .social-icons i {
        padding-right: 0.8rem !important;
        padding-left: 0.8rem !important;
    }
    #seasonal-collection-2 .seasonal-box-2 h2 {
        font-size: 1.05rem;
        margin-top: 39%;
    }
    #seasonal-collection-2 .seasonal-box-2 h4 {
        font-size: 0.55rem;
        letter-spacing: 0.15rem;
    }
}
@media only screen and (max-width: 600px){
    #carousel .carousel-item h1 {
        font-size: 2.45rem;
    }
    #carousel .carousel-item h4 {
        font-size: 1.15rem;
    }
    #carousel .carousel-item .btn-carousel {
        padding: 0.4rem 1.5rem;
        font-size: 0.6rem;
    }
    #carousel .carousel-item {
        padding-top: 5%;
    }
    .owl-next {
        right: 0rem;
    }
    .owl-prev {
        left: 0rem;
    }
}
@media only screen and (max-width: 575px){
    body > #blog {
        padding: 3rem 0;
    }
    body > #brand-logos {
        padding: 2rem 0 0rem 0;
        margin-top:-2rem;
    }
    body > #testimonials {
        padding: 3.5rem 0;
    }
    #seasonal-collection-2 .seasonal-box-2 h2 {
        margin-top: 43%;
        font-size: 2.15rem;
    }
    #seasonal-collection-2 .seasonal-box-2 h4 {
        font-size: 1.05rem;
        letter-spacing: 0.25rem;
        margin-top:1.1rem;
    }
    #featured-products h2, #best-seller h2, #blog h2 {
        font-size: 1.6rem;
    }
    #featured-products .underline-left {
        width: 16%;
        margin-top: 0.95rem;
    }
    #featured-products .underline-right {
        width: 16%;
        margin-top: 0.95rem;
    }
    #best-seller .underline-left {
        width: 16%;
        margin-top: 0.95rem;
    }
    #best-seller .underline-right {
        width: 16%;
        margin-top: 0.95rem;
    }
    #blog .underline-left {
        width: 16%;
        margin-top: 0.95rem;
    }
    #blog .underline-right {
        width: 16%;
        margin-top: 0.95rem;
    }
    #carousel .carousel-item {
        height: 180px !important;
    }
    #seasonal-collection-2 .seasonal-box-2 img {
        max-width: 90%;
        margin-bottom: 1rem;
    }
    #two-panels .promo-box-text {
        padding: 3.5rem 10.3rem 0rem 4rem;
    }
    #two-panels h2 {
        font-size: 2.4rem;
    }
    #two-panels img {
        margin-bottom: 1rem;
    }
    body > #two-panels {
        background:$white;
        padding: 0rem 0;
        margin-top: -1rem;
    }
    #testimonials em {
        font-size: 0.88rem;
    }
}

@media only screen and (max-width: 480px){
    #seasonal-collection-2 .seasonal-box-2 h2 {
        margin-top: 43%;
        font-size: 1.85rem;
    }
    #carousel .carousel-item h1 {
        font-size: 1.9rem;
    }
    #carousel .carousel-item h4 {
        font-size: 0.9rem;
        margin-bottom: 0.7rem;
        margin-top:-5px;
    }
    #featured-products .underline-left {
        display:none;
    }
    #featured-products .underline-right {
        display:none;
    }
    #best-seller .underline-left {
        display:none;
    }
    #best-seller .underline-right {
        display:none;
    }
    #blog .underline-left {
        display:none;
    }
    #blog .underline-right {
        display:none;
    }
    #carousel .carousel-control-prev {
        display:none;
    }
    #carousel .carousel-control-next {
        display:none;
    }
    #carousel .carousel-item {
        height: 160px !important;
    }
    body > #featured-products {
        padding: 2rem 0 3rem 0;
    }
    #two-panels .promo-box-text {
        padding: 2.0rem 4.0rem 0rem 4rem;
    }
    #two-panels h2 {
        font-size: 1.9rem;
    }
 
}
@media only screen and (max-width: 380px){
    #seasonal-collection-2 .seasonal-box-2 h2 {
        margin-top: 43%;
        font-size: 1.55rem;
    }
    #seasonal-collection-2 .seasonal-box-2 h4 {
        font-size: 0.9rem;
        letter-spacing: 0.25rem;
        margin-top: 0.5rem;
    }
    #seasonal-collection-2 .seasonal-box-2 .btn-carousel {
        margin-top: 0.5rem;
    }
    #carousel .carousel-item h1 {
        font-size: 1.6rem;
    }
    #carousel .carousel-item h4 {
        font-size: 0.7rem;
        margin-bottom: 0.7rem;
        margin-top:-5px;
    }
    #header .menu-right a {
        padding: 0.9rem 0.6rem 0.9rem 0.6rem;
    }
    #header .menu-right a:last-child {
        padding: 0.9rem 0.6rem 0.9rem 0.6rem;
    }
   
    #featured-products h2, #best-seller h2, #blog h2 {
        font-size: 1.4rem;
    }
    #carousel .carousel-item {
        height: 130px !important;
    }
    body > #featured-products {
        padding: 1.8rem 0 3rem 0;
    }
    #two-panels .promo-box-text {
        padding: 1.5rem 2rem 0rem 2rem;
    }
    #two-panels h2 {
        font-size: 1.8rem;
    }
}